<article class="user-votes__container">
    <h3 class="user-votes__header"><%= image_tag("bubbling-potion.png", alt: "Bubbling potion", class: "user-show-wizard") %> Your Product</h3>
    <table class="table">
        <tr>
            <th>Product ID</th>
            <th>Product Categories</th>
            <th>Product Name</th>
            <th>Product Image</th>
            <th>Product Price</th>
            <th>Stock</th>
            <th>Description</th>
            <th>Photo URL</th>
            <th>Edit</th>
            <th>Hide the product</th>
            <th>Delete</th>
        </tr>
        <% @user.products.order(id: :asc).each do |product| %>
            <tr>
                <td><%= product.id %></td>
                <td>
                    <ul>
                    <% product.category_on_user_show.sort.each do |cat| %>
                        <li><%= cat %></li>
                    <% end %>  
                    </ul>  
                </td>
                <td><%= link_to product.name, product_path(product.id) %></td>
                <td><%= image_tag product.photo_url, alt: "product photo", class: "product-photo" %></td>
                <td><%= product.price %></td>
                <td><%= product.stock %></td>
                <td><%= product.description %></td>
                <td><%= product.photo_url %></td>
                <td><%= button_to "Edit", edit_product_path(product), method: :get, class: "btn btn-primary" %></td>
                <td><% if product.retired %> 
                    <%= button_to "Make Active", retired_product_path(product), method: :patch, data: {confirm: "Are you sure?"}, class: "btn btn-primary", rel: "nofollow" %>
                <% else %>
                    <%= button_to "Retire", retired_product_path(product), method: :patch, data: {confirm: "Are you sure?"}, class: "btn btn-primary", rel: "nofollow" %>
                <% end %></td>  
                <td><%= button_to "Delete", product_path(product), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger", rel: "nofollow" %></td>
            </tr>
        <% end %>
    </table>
</article>