<%= render partial: "userinfo" %>

<article class="user-votes__container">
    <h3 class="user-votes__header"><%= image_tag("rich_wizard.png", alt: "Rich wizard", class: "user-show-wizard") %> Revenue Summary</h3>
    <table class="table">
        <tr>
            <th>Order Status</th>
            <th>Pending</th>
            <th>Paid</th>
            <th>Completed</th>
            <th>Total</th>
        </tr>
        <tr>
            <th>Total Revenue</th>
            <th> <%= format_money(@user.total_revenue_by_status("pending")) %></th>
            <th> <%= format_money(@user.total_revenue_by_status("paid")) %></th>
            <th> <%= format_money(@user.total_revenue_by_status("completed")) %></th>
            <th> <%= format_money(@user.total_revenue) %></th>
        </tr>
        <tr>
            <th>Total Number of Orders</th>
            <th><%= @user.total_orders_by_status("pending")  %></th>
            <th><%= @user.total_orders_by_status("paid")  %></th>
            <th><%= @user.total_orders_by_status("completed")  %></th>
            <th><%= @user.total_orders %></th> 
        </tr>  
    </table>
</article>

<article class="user-split-pages">
    <%= button_to "Your products", show_products_user_path(@user), method: :get, class: "btn btn-primary btn-distance" %>
    <%= button_to "Your Order Fulfillments", show_fulfillments_user_path(@user), method: :get, class: "btn btn-primary btn-distance" %>
</article>





