<article class="work-info">
    <h2><%= @user.name %></h2>
    <ul>
        <li>User ID: <%= @user.id %></li>
        <li>User email: <%= @user.email %></li>
    </ul>
</article>

<article class="user-votes__container">
    <h3 class="user-votes__header">Your Product</h3>
    <table class="table">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Stock</th>
            <th>Description</th>
            <th>Photo</th>
        </tr>
        <% @user.products.each do |product| %>
            <tr>
                <th><%= product.id %></th>
                <th><%= product.name %></th>
                <th><%= product.price %></th>
                <th><%= product.stock %></th>
                <th><%= product.description %></th>
                <th><%= product.photo_url %></th>
            </tr>
        <% end %>
    </table>
</article>

<article class="user-votes__container">
    <h3 class="user-votes__header">Your order fulfillments</h3>
    <h4 class="user-votes__header">Summary</h4>
    <table class="table">
        <tr>
            <th>Order Status</th>
            <th>Pending</th>
            <th>Paid</th>
            <th>Completed</th>
            <th>Cancelled</th>
            <th>Total</th>
        </tr>
        <tr>
            <th>Total Revenue</th>
            <th><%= @user.total_revenue_by_status("pending") %></th>
            <th><%= @user.total_revenue_by_status("paid") %></th>
            <th><%= @user.total_revenue_by_status("completed") %></th>
            <th><%= @user.total_revenue_by_status("cancelled") %></th>
            <th><%= @user.total_revenue %></th>
        </tr>
        <tr>
            <th>Total Number of Orders</th>
            <th><%= @user.total_orders_by_status("pending")  %></th>
            <th><%= @user.total_orders_by_status("paid")  %></th>
            <th><%= @user.total_orders_by_status("completed")  %></th>
            <th><%= @user.total_orders_by_status("cancelled")  %></th>
            <th><%= @user.total_orders %></th> 
        </tr>  
    </table>
    <br/>
    <h4 class="user-votes__header">Order Fulfillments List</h4>
    <table class="table">
        <tr>
            <th>Order ID</th>
            <th>Order Status</th>
            <th>Order Item</th>
            <th>Quantity</th>
            <th>Subtotal Price</th>
            <th>Order Date</th>
            <th>Shipped?</th>
        </tr>
        <% @user.orderitems.each do |orderitem| %>
            <tr>
                <th><%= link_to orderitem.order_id, order_path(orderitem.order_id) %></th>
                <th><%= Order.find_by(id: orderitem.order_id).order_status %></th>
                <th><%= link_to Product.find_by(id: orderitem.product_id).name, product_path(orderitem.product_id) %></th>
                <th><%= orderitem.quantity %></th>
                <th><%= orderitem.price %></th>
                <th><%= Time.parse("#{Order.find_by(id: orderitem.order_id).created_at}") %></th>
                <th>Haven't had a shipped column for order item</th>  
            </tr>
        <% end %>    
    </table>
</article>



