<h2><%= @cart.orderitems.count %> item(s) in your cart</h2>

  <div class="container">
    <div class = "row">
      <div class="col-4"><h5>Item</h5></div>
      <div class="col"><h5>Quantity</h5></div>
      <div class="col"><h5>Price</h5></div>
      <div class="col"><h5>Update Quantity</h5></div>
      <div class="col"><h5>Remove Item</h5></div>
    </div>
    <% @cart.orderitems.order(id: :asc).each do |item| %>
      <%= form_with model: @orderitem, url: cart_update_path(item.id), method: :patch do |f| %>
        <div class="row">
          <div class="col-4">
            <%= link_to item.product.name, product_path(item.product.id) %>
          </div>
          <div class="col">
            <%= f.select(:quantity, options_for_select(item.product.create_stock_collection, selected: item.quantity)) %>
          </div>
          <div class="col">
            <%= format_money(item.price) %>
          </div>
          <div class = "col">
            <%= f.submit "Update", class: "btn btn-primary" %>
          </div>
      <% end %>
        <div class = "col">
          <%= button_to "Remove", order_item_path(item.id), method: :delete, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

<%= button_to "Proceed to Checkout", payment_path(@cart.id), method: :get, class: "btn btn-primary" %>
  

