<h2>Order #<%= @order.id %> Confirmation |
  Placed: <%= Time.parse("#{@order.updated_at}") %></h2>
<h4>Buyer Information</h4>
<section class ="cart-item__container">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mailing Address</th>
      <th>Credit Card Number</th>
      <th>Credit Card CVV</th>
      <th>Credit Card Exp Date</th>
    </tr>
    <tr>
      <td><%= @order.name %></td>
      <td><%= @order.email %></td>
      <td><%= @order.mailing_address %></td>
      <td><%= @order.cc_number %></td>
      <td><%= @order.cc_cvv %></td>
      <td><%= @order.cc_exp_date %></td>
    </tr>
  </table>
</section>

<section class ="cart-item__container">
  <h4>Order Details</h4>
  <table class="table">
   <thead>
    <tr>
      <th>Product name</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
    <thead>
    <tbody>
    <%@order.orderitems.each do |item|%>
    <tr>
      <td><%= link_to item.product.name, product_path(item.product.id) %></td>
      <td><%= item.quantity %></td>
      <td><%= format_money(item.price) %></td>
    </tr>
    <% end %>
    <tr>
      <td></td>
      <td><h4>Total : </h4></td>
      <td><%=format_money(@order.total) %></td>
    </tr>
    </tbody>
  </table>
</section>

<%= button_to "Back to products", root_path, method: :get, class: "btn btn-primary" %>