<h2>Order ID: <%= @order.id %></h2>
<h4>User Information</h4>
<article class ="cart-item__container">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mailing Adress</th>
      <th>Last 4 Digits of Credit Card</th>
      <th>Credit Card Exp Date</th>
    </tr>
    <tr>
      <td><%= @order.name %></td>
      <td><%= @order.email %></td>
      <td><%= @order.mailing_address %></td>
      <td><%= @order.last_digits %></td>
      <td><%= @order.cc_exp_date %></td>
    </tr>
  </table>
</article>  