<section>
  <h2>Sponsored Skill: <%= link_to "Python Coding", product_path(1) %></h2>
</section>

<section>
  <form action="/products" method="GET">
    <input type="text" name="search_name" >
    <input type="submit" value="Search for Product">
  </form>
  <form action="/products" method="GET">
    <label for="filter">Filter Options</label>
    <select id="filter" name="filter" onchange="this.form.submit()">
      <option value="">Pick a Filter Option</option>
      <option value="merchant" <%= "selected" if session[:filter] == "merchant" %>>Filter by Merchant</option>
      <option value="category" <%= "selected" if session[:filter] == "category" %>>Filter by Category</option>
    </select>
    <% if session[:filter] == "merchant" %>
      <select name="filter_option" onchange="this.form.submit()">
        <option value="">Pick a Merchant</option>
        <% @users.each do |user| %>
          <option value="<%= user.id %>" <%= "selected" if session[:filter_option] == user.id.to_s %> > <%= user.name %></option>
        <% end %>
      </select>
    <% elsif session[:filter] == "category" %>
      <select name="filter_option" onchange="this.form.submit()" >
        <option value="">Pick a Category</option>
        <% @categories_select.each do |category| %>
          <option value="<%= category.id %>" <%= "selected" if session[:filter_option] == category.id.to_s %> > <%= category.name %></option>
        <% end %>
      </select>
    <% end %>
  </form>
  <%= link_to "Clear Filter Options", clear_path %>

  <% @categories.each do |category| %>
    <h2>
      <%= category.name %>
    </h2>

    <div class="d-flex flex-wrap justify-content-around">
      <% category.find_products(@filter_merchant, @products).each do |product| %>
        <div class="card" style="width: 18rem;">
          <%= image_tag product.photo_url, class: "card-img-top", alt: "filler image" %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to product.name, product_path(product.id) %></h5>
            <p class="card-text"><%= product.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>





