<section class="popular">
  <h1 class="">Popular Skills</h1>
  <div class="d-flex justify-content-around">
    <% ["Software development", "Sports", "Music", "Acting", "Art", "Writing"].each do |category| %>
      <section>
        <div class="circle d-flex justify-content-center align-items-center">placeholder?</div>
        <div>
          <p class="d-flex justify-content-center"><%= category %><span> &rarr; </span></p>
        </div>
      </section>
    <% end %>
  </div>
</section>
<section>
  <h2>Currently Viewing: <%= "All Products" %></h2>
  <%= select_tag(:category, options_for_select([["All"],["Software development"], ["Sports"], ["Music"], ["Acting"], ["Art"], ["Writing"]])) %>
  <div class="d-flex flex-wrap justify-content-between">
    <% @products.each do |product| %>
      <% unless product.retired %>
        <div class="card" style="width: 18rem;">
          <%= image_tag product.photo_url, class: "card-img-top", alt: "filler image" %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to product.name, product_path(product.id) %></h5>
            <p class="card-text"><%= product.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <%# @products.each do |product| %>
      <%# unless product.retired %>
        <%#= link_to product_path(product.id) do %>
          <%#= image_tag "#{product.photo_url}", alt: "filler image" %>
        <%# end %>
      <%# end %>
    <%# end %>
  </div>
</section>

