<section class="d-flex flex-wrap">
  <div class="col-8">
    <%= image_tag "#{@product.photo_url}", alt: "filler" %>
  </div>
  <div class="d-flex flex-column col-4 product-right">
    <h1> <%= @product.name %> </h1>
    <p> $<%= @product.price %> </p>
    <%= form_with model: @orderitem, class: 'create-orderitem', url: product_order_items_path(@product) do |f| %>
      <div>
        <%= f.label :quantity %>
        <%= f.select :quantity, @product.create_stock_collection, selected: :quantity %>
      </div>
      <%= f.submit "Add to cart", class: "btn btn-primary" %>
    <% end %>
    <section>
      <p class="font-weight-bolder">Description:</p>
      <p> <%=  @product.description %> </p>
    </section>
  </div>
</section>

<section>
  <h2>Product Review:<%= button_to "Add New Review", new_product_review_path(@product), method: :get, class: "btn btn-primary" %></h2>
  <table class="table">
    <tr>
      <th>Review ID</th>
      <th>Rating</th>
      <th>Review</th>
      <th>Edit Review</th>
      <th>Delete Review</th>
    </tr>
    <% @product.product_reviews.each do |review| %>
      <tr>
        <td><%= review.id %></td>
        <td><%= review.rating %></td>
        <td><%= review.description %></td>
        <td><%= button_to "Edit", edit_review_path(review), method: :get, class: "btn btn-primary" %></td>
        <td><%= button_to "Delete", review_path(review), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger", rel: "nofollow" %></td>
      </tr>
    <% end %>
    </table>
</section>
