<section class="pr-grid">
  <div class="pr-img">
    <%= image_tag "#{@product.photo_url}", alt: "filler", class: "pr-size" %>
  </div>
  <div class="pr-description">
    <h2> <%= @product.name %> </h2>
    <h5>Price: <%= format_money(@product.price) %> </h5>
    <% if @product.reviews.count == 0 %>
      <h5> Average Rating: Waiting for you to add a Review! </h5>
    <% else %>
      <h5> Average Rating: <%= @product.ave_rating %> </h5>
    <% end %>  
    <%= form_with model: @orderitem, class: 'create-orderitem', url: product_order_items_path(@product) do |f| %>
      <% if @product.stock == 0 %>
        <div>
          <p>Currently out of stock!</p>
          <%= f.submit "Add to cart", class: "btn btn-secondary", disabled: true %>
        </div>
      <% else %>
        <div>
          <%= f.label :quantity %>
          <%= f.select :quantity, @product.create_stock_collection, selected: :quantity %>
        </div>
      <%= f.submit "Add to cart", class: "btn btn-primary" %>
      <% end %>
    <% end %>
    <section>
      <h5 class="pr-under">Description:</h5>
      <h6> <%=  @product.description %> </h6>
    </section>
  </div>
</section>
<section>
  <h2>Product Review:<%= button_to "Add New Review", new_product_review_path(@product), method: :get, class: "btn btn-primary" %></h2>
  <table class="table">
    <tr>
      <th>Review ID</th>
      <th>Rating</th>
      <th>Review</th>
      <th>Edit Review</th>
      <th>Delete Review</th>
    </tr>
    <% @product.product_reviews.each do |review| %>
      <tr>
        <td><%= review.id %></td>
        <td><%= review.rating %></td>
        <td><%= review.description %></td>
        <td><%= button_to "Edit", edit_review_path(review), method: :get, class: "btn btn-primary" %></td>
        <td><%= button_to "Delete", review_path(review), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger", rel: "nofollow" %></td>
      </tr>
    <% end %>
    </table>
</section>
