<!DOCTYPE html>
<html>
  <head>
    <title>Mama Jeti's Apothecary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <% if session[:user_id] %>
            <li><%= link_to "Log Out", logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login with GitHub", github_login_path %></li>
          <% end %>
          <li><%= link_to "Add New Product", new_product_path %></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="flash-msg__section">
        <% flash.each do |name, message| %>
          <strong class="<%= name %>">
            <%= message %>
          </strong>
        <% end %>
      </section>
      <%= yield %>
    </main>
  </body>
</html>
